@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
		<meta charset="utf-8">
        <title>@title</title>

        <!-- Bootflat's JS files.-->
        <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("bootflat/css/bootflat.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/css/redmond/jquery-ui-1.10.4.custom.css")" />
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("javascripts/css/ui.jqgrid.css")" />


        <!-- Bootstrap -->
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")")></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

        <!-- Bootflat's JS files.-->
        <script src="@routes.Assets.at("bootflat/js/icheck.min.js")"></script>
        <script src="@routes.Assets.at("bootflat/js/jquery.fs.selecter.min.js")"></script>
        <script src="@routes.Assets.at("bootflat/js/jquery.fs.stepper.min.js")"></script>
		<!-- jqGrid -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/js/jquery-1.11.0.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/js/jquery-ui-1.10.4.custom.min.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/js/jquery.jqGrid.min.js")" ></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/js/i18n/grid.locale-en.js")" ></script>

    </head>
    <body>
        @generates.menu.apply
        @content
    </body>
</html>
